*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*____ GENERAL ____*/
body{
    background: linear-gradient(138deg, rgb(32,201, 255) 36.7%, rgb(52, 79, 88) 84.4%, rgb(255, 255, 255) 119.7%);
    font-family: 'Andika', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

h1{
    font-size: 250%;
    padding: 40px;
    margin: 50px;
}

h2{
    font-size: 100%;
    margin: 10px;
}

ul{
    margin-bottom: 20px;
}

li{
    font-weight: 400;
    list-style: none;
}

p{
    font-size: 140%;
    margin-bottom: 35px;
}

input{
    width: 400px;
    height: 40px;
    font-size: 150%;
    font-weight: 700;
    border-radius: 15px;
    margin: auto;    
}

/*____ CLASS STYLES ___*/

/*___ Style button on each page and iys behavior when pressed ___*/
.btn{
    margin: 5px;
    width: 150px;
    height: 40px;
    font-size: 120%;
    border-radius: 15px;
    font-weight: 900;
}

.btn:hover{
    background-color: rgb(52, 79, 88);
    color: rgb(255, 255, 255);
}
.btn:active{
    background-color: rgb(32,201, 255);
    box-shadow: 0 3px rgb(255, 255, 255);
    transform: translate(2px);
}

/*___ Style all section on the page ___*/
#firstPage,
#nameArea,
#welcome,
#howTo,
#noScript{
    width: 600px;
    min-height: 450px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 50px;
}


/*___ Style Applied to Logo ___*/
#logo{
    padding: 0;
}

/*___ Style the welcome page header and username ___*/
#welcomePage{
    font-size: 150%;
    margin: 50px;
}

#playerName{
    color: white;
}

