*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*____ GENERAL ____*/
body{
    background: linear-gradient(138deg, rgb(32,201, 255) 36.7%, rgb(52, 79, 88) 84.4%, rgb(255, 255, 255) 119.7%);
    font-family: 'Andika', sans-serif;
    text-align: center;  
}

#mainUI{
    align-items: center;  
    display:flex;
    flex-direction: column;
    justify-content: center;    
}

h1{
    font-size: 250%;
    margin: 50px;
    padding: 40px; 
}

h2{
    font-size: 100%;
    margin: 10px;
}

ul{
    margin-bottom: 20px;
}

li{
    font-weight: 400;
    list-style: none;
}

p{
    font-size: 120%;
    margin-bottom: 35px;
}

input{
    border-radius: 15px;
    font-size: 150%;
    font-weight: 700;
    height: 40px;
    margin: auto;
    width: 400px;     
}
img{
    width: 50%;
    height: 150px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}
/*___ Style button on each page and its behavior when pressed ___*/
.btn{
    border-radius: 15px;
    font-size: 120%;
    font-weight: 900;
    height: 35px;
    margin: 5px;
    width: 180px; 
}
/*==== Button Style from W3School ====*/
.btn:hover{
    background-color: rgb(52, 79, 88);
    color: rgb(255, 255, 255);
}
.btn:active{
    background-color: rgb(32,201, 255);
    box-shadow: 0 3px rgb(255, 255, 255);
    transform: translate(2px);
}

/*___ Style the endPage Text*/
.endMessage{
    color: black;
    font-size: 150%;
    font-style: oblique;
}

/*____ Style the theme on the first Page ____*/
#theme{
    margin: 5px;
    font-size: 120%;
}

/*___ Style all section on the page ___*/
#firstPage,
#nameArea,
#welcome,
#howTo,
#highScore,
#noScript{
    border: 2px solid black;
    border-radius: 20px;
    margin: 50px;
    min-height: 450px;
    width: 600px; 
}

/*____ Style to center highscore box _____*/
#highScore{
   margin: 0 auto;   
}

/*___ Style Applied to Logo ___*/
#logo{
    padding: 0;
}

/*___ Style the welcome page header and username ___*/
#welcomePage{
    font-size: 150%;
    margin: 50px;
}

#playerName{
    color: white;
}

/*___ Style the endPage ___*/
/*=== CSS Transition at https:youtu.be/EVze4Cq-dZ8*/
body.overlay > #endPage{
    opacity: 1;
    transform: scale(1);
    visibility: visible; 
}

body.overlay #mainUI{
    filter: blur(4px);
}

#endPage{
    align-items: center;
    background-color: rgba(255, 255, 255, .85);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(1.5);
    transition: all .20s ease-out;
    visibility: hidden;
}

.endMessage{
    color: black;
    font-size: 150%;
    font-style: oblique;
}

/*___ Style the Game Area ___*/

#game{
    border: 2px solid black;
    border-radius: 20px;
    height: 500px;
    min-height: 450px;
    width: 800px;
}

#gameBody{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
}

#questionOption{
    display: flex;
    height: 360px;
    width: 100%; 
}

#options{
    display: inline-block;
    padding-top: 60px;
    width: 45%;
}

#questionImage{
    border-radius: 0 0 20px 0;
    height: 100%;
    margin: 0;
    width: 50%;
}

/*___ Style Applied to each option area ___*/

.option{
    border-radius: 15px;
    display: block;
    font-weight: 700;
    height: 50px;
    margin: 20px;
    width: 90%;
}

/*___ Progress Bar Styling ___*/

/*--- https://youtu.be/QxQRtwAtqKE   ----*/
#progress{
    border: 1px solid black;
    border-right: none;
    position: relative; 
}

.progress-inner{
    background-color: white;
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .4s ease-out;
    width: 100%;
}

#boxes{
    display: flex;
    width: 100%;
}

.box{
    height: 40px;
    border-right: 1px solid black;
    flex: 1;
    width: 20px;
}

#ansQues{
    color: white;
    font-size: 120%;
    font-weight: 700;
}

/*___ Styles Applied to Record Area ___*/
.scoreCount{
    display: flex;
    margin-top: 20px;
}

#recordArea{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.circle{
    align-items: center;
    background-color: rgb(255, 255, 255, .8);
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    font-size: 130%;
    height: 40px;
    justify-content: center;
    width: 40px;
}

#time{
    color: white;
    font-size: 180%;
}

.fa-stopwatch-20{
    color: black;
    font-size: 130%;
}

/*____ Added to hide some sections ___*/
.hide{
    display: none !important;
}

/*____ Added to highlight right and wrong answers ____*/
.correct{
    background-color: green;
    color: white;
}

.wrong{
    background-color: red;
}

/*___ Style applied to High Score text ___*/
.high-score{
    font-size: 120%;
    font-weight: 700;
}

/*___________ Responsiveness on Smaller Screens _________________*/

@media screen and (max-width: 800px) {
    #questionOption{
        margin-bottom: 50px;
    }
    #game{
        min-height: 550px;
        width: 600px; 
    }
}

@media screen and (max-width: 500px) {
    #firstPage,
    #nameArea,
    #welcome,
    #highScore,
    #howTo,
    #noScript{
        width: 95%;
        height: 100%;
        padding: auto;
    }
    h1{
        font-size: 150%;
        margin: 80px;
        padding: 0; 
    }
    input{
        width: 90%;
    }
    #game{
        display: flex;
        flex-direction: column;
        min-height: 450px;
        width: 95%;
    }
    #questionImage{
        border-radius: 0;
    }
    
    #recordArea{
        height: 20px;
    }

    #questionOption{
        flex-direction: column;
        margin-bottom: 0;
    }

    #questionImage{
        height: 170px;
        width: 100%;
    }
    .option{
        height: 40px;
        margin: 5px;
        width: 270px;

    }
    #options{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5px;
        width: 100%;
    }  
    #questionOption{
        height: 398px;
    }  
}
